<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>$title$</title>
        <meta property="og:title" content="$title$" />
        <meta property="og:site_name" content="jackie's site!" />
        <meta property="og:url" content="https://jackiedor.land$url$" />
        <meta property="og:image" content="https://jackiedor.land/images/og-default.png" />
        $if(isPost)$
        <meta property="og:type" content="article" />
        $else$
        <meta property="og:type" content="website" />
        $endif$
        $if(description)$
        <meta property="og:description" content="$description$" />
        $endif$
        <meta name="twitter:card" content="summary" />
        <meta name="twitter:title" content="$title$" />
        <meta name="twitter:image" content="https://jackiedor.land/images/og-default.png" />
        $if(description)$
        <meta name="twitter:description" content="$description$" />
        $endif$
        <link rel="stylesheet" href="/css/default.css" />
        <link rel="stylesheet" href="/css/syntax.css" />
    </head>
  <body>
  <div class="fish-tank" aria-hidden="true">
    <span style="--speed: 31s; --delay: -12s; --from: 12%; --to: 38%"><b><i>&gt;</i>&lt;&gt;</b></span>
    <span style="--speed: 43s; --delay: -51s; --from: 40%; --to: 18%"><b><i>&gt;</i>&lt;((*&gt;</b></span>
    <span style="--speed: 37s; --delay: -24s; --from: 62%; --to: 85%"><b><i>&gt;</i>&lt;&gt;</b></span>
    <span style="--speed: 47s; --delay: -65s; --from: 90%; --to: 55%"><b><i>&gt;</i>&lt;(*&gt;</b></span>
    <span style="--speed: 34s; --delay: -46s; --from: 8%; --to: 65%"><b><i>&gt;</i>&lt;&gt;</b></span>
    <span style="--speed: 41s; --delay: -9s; --from: 28%; --to: 72%"><b><i>&gt;</i>&lt;(*&gt;</b></span>
    <span style="--speed: 49s; --delay: -72s; --from: 75%; --to: 30%"><b><i>&gt;</i>&lt;((*&gt;</b></span>
    <span style="--speed: 38s; --delay: -18s; --from: 52%; --to: 95%"><b><i>&gt;</i>&lt;&gt;</b></span>
    <i class="bubbles" style="left: 16%; --speed: 23s; --delay: -7s"> o&#10;O&#10; .</i>
    <i class="bubbles" style="left: 53%; --speed: 29s; --delay: -19s">O&#10; .&#10;o</i>
    <i class="bubbles" style="left: 84%; --speed: 31s; --delay: -2s"> .&#10;o&#10; O</i>
  </div>
  <div class="header">
    <div class="header-info">
      <p class="header-name">Jackie Dorland</p>
      <p class="header-sub">location <&dollar;> "upstate new york"</p>
      <p class="header-links">
        * <a href="https://github.com/jackiedorland">github.com/jackiedorland</a> :: URL<br>
        ✉ inbox <- me (at) jackiedor.land<br>
      </p>
    </div>
    <pre class="header-art">
⣿⠛⠛⠛⠛⠻⡆                                              
⠛⢛⣿⠋⢀⡾⠃                                              
⢠⡟⠁⣴⣿⢤⡄⠛⠛⠛⠛⠻⡆⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠸⢷⣴⣤⡤⠾⠇⢛⣿⠋⢀⡾⠃⠀⠀⠀⢀⣤⣤⠤⠤⣤⣤⣀⣀⣀⣠⠶⡶⣤⣀⣠⠾⡷⣦⣀⣤⣤⡤⠤⠦⢤⣤⣄⡀⠀⢠⡶⢶⡄⠀⠀
      ⢠⡟⠁⣴⣿⢤⡄⣴⢶⠶⡆⠈⢷⡀⠀⠀⠀⠀⢀⣭⣫⠵⠥⠽⣄⣝⠵⢍⣘⣄⠳⣤⣀⠀⠀⢀⡤⠊⣽⠁⠀⠸⣇⠀⢿⠀⠀
      ⠸⢷⣴⣤⡤⠾⠇⣽⠋⠼⣷⠀⠈⢷⡄⢀⣤⡶⠋⠀⣀⡄⠤⠀⡲⡆⠀⠀⠈⠙⡄⠘⢮⢳⡴⠯⣀⢠⡏⠀⠀⠀⢻⠀⢸⠇⠀
      ⠀⠀⠀⠀⠀⠀⠀⠙⠛⠋⠉⢀⣴⠟⠉⢯⡞⡠⢲⠉⣼⠀⠀⡰⠁⡇⢀⢷⠀⣄⢵⠀⠈⡟⢄⠀⠀⠙⢷⣤⣤⣤⡿⢢⡿⠀⠀
      ⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⣠⠟⠑⠊⠁⡼⣌⢠⢿⢸⢸⡀⢰⠁⡸⡇⡸⣸⢰⢈⠘⡄⠀⢸⠀⢣⡀⠀⠈⢮⢢⣏⣤⡾⠃⠀⠀
      ⠀⠀⠀⠀⠀⠀⠀⠀⠀⢰⣯⣴⠞⡠⣼⠁⡘⣾⠏⣿⢇⣳⣸⣞⣀⢱⣧⣋⣞⡜⢳⡇⠀⢸⠀⢆⢧⠀⠰⣄⢏⢧⣾⠁⠀⠀⠀
      ⠀⠀⠀⠀⠀⠀⠀⠀⠀⠈⢹⡏⢰⠁⡻⠀⡟⡏⠉⠀⣀⠀⠀⠀⠀⣀⠁⠀⠉⠛⢽⠇⠀⣼⡆⠈⡆⠃⠀⡏⠻⣾⣽⣇⡀⠀⠀
      ⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢸⠁⡇⠀⡇⡄⣿⠷⠿⠿⠛⠀⠀⠀⠀⠛⠻⠿⠿⠿⡜⢀⡴⡟⢸⣸⡼⠀⠀⡇⠀⡞⡆⢻⠙⢦⠀
      ⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢸⡶⢀⣼⣿⣬⣽⠧⠬⠇⠀⠀⠀⠀⠀⠀⢞⣯⣭⢺⣔⣪⣾⣤⠺⡇⢳⠀⢠⣧⡾⠛⠛⠻⠶⠞⠁
      ⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠘⠷⢿⠟⠉⡀⠈⢦⡀⠀⠀⣠⠖⠒⠒⢤⡀⠀⢀⡼⠿⢇⡣⢬⣶⠷⢿⣤⡾⠁⠀⠀⠀⠀⠀⠀⠀
      ⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠘⠷⠾⠷⠖⠛⠛⠲⠶⠿⠤⣤⠤⠤⢷⣶⠋⠀⠀⠀⣱⠞⠁⠀⠈⠉⠀⠀⠀⠀⠀⠀⠀⠀⠀
      ⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠉⠛⠓⠒⠚⠋⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
</pre>
  </div>
  <nav class="header-nav">
    <a href="/" $if(isHome)$class="active"$endif$>HOME</a>
    <a href="/archive.html" $if(isBlog)$class="active"$endif$>BLOG</a>
  </nav>
    $body$
  </body>
</html>
